<h1><%= @user.name %>のページ</h1>
<%= notice %>
<p>メールアドレス: <%= @user.email %></p>
  <p>
    <strong>プロフィール画像:</strong>
   <%= image_tag @user.image.url %>
   <%#=  @user.image %>
 </p>

<!-- 追加 他のユーザのプロフィールへいかないようにする-->
<% if current_user.id == @user.id %>
  <%= link_to 'お気に入り一覧', favorites_path %>
  <%= link_to 'プロフィールを編集', edit_user_path(@user) %>

<% else %>
<h2>ユーザー：<%= @user.name %>を登録しました。</h2>
<h2><%= link_to "ログインに進む", new_session_path %></h2>
<% end %>

<br>
<%= link_to '新規作成する', new_blog_path %>
<br>
<%= link_to 'ブログ一覧画面に戻る',  blogs_path %>
